header
    padding: 20px 0
    .imgbox
        width: 40px
    .btn
        background-color: #d7c9c9
        color: #211e1e
        border: 2px solid #aa9797
        padding: 7px 14px
        margin-right: 5px
        display: none
        border-radius: 5px
    nav
        a
            font-size: 20px
            color: #8c8999
            margin-right: 30px
        .home-color
            color: #74bebc
    @media screen and ( max-width: 992px )
        .menu
            .imgbox
                width: 58px
            .minibox
                .btn
                    width: 20px
                    display: block
                .shop
                    display: none
            nav
                a
                    display: none
    @media screen and ( max-width: 768px )
        .icon
            display: block
        .bigicon
            display: block
            background-color: #35b9be
            color: #ffff
            i
                margin: 10px
