body {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
}

.imgbox {
  overflow: hidden;
}
.imgbox img {
  width: 100%;
}

section {
  padding: 80px 0;
}

header {
  padding: 20px 0;
}
header .imgbox {
  width: 40px;
}
header .btn {
  background-color: #d7c9c9;
  color: #211e1e;
  border: 2px solid #aa9797;
  padding: 7px 14px;
  margin-right: 5px;
  display: none;
  border-radius: 5px;
}
header nav a {
  font-size: 20px;
  color: #8c8999;
  margin-right: 30px;
}
header nav .home-color {
  color: #74bebc;
}
@media screen and (max-width: 992px) {
  header .menu .imgbox {
    width: 58px;
  }
  header .menu .minibox .btn {
    width: 20px;
    display: block;
  }
  header .menu .minibox .shop {
    display: none;
  }
  header .menu nav a {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  header .icon {
    display: block;
  }
  header .bigicon {
    display: block;
    background-color: #35b9be;
    color: white;
  }
  header .bigicon i {
    margin: 10px;
  }
}

#beautiful {
  background-color: #f4fafb;
}
#beautiful .box h1 {
  font-weight: 700;
  font-size: 68px;
  margin-right: 80px;
}
#beautiful .box span {
  color: #37b7c3;
}
#beautiful .box h5 {
  color: #676f8b;
  font-size: 20px;
  margin: 25px 75px 50px 0;
  line-height: 1.3;
}
#beautiful .box .btn {
  padding: 13px 30px;
  font-size: 20px;
  border-radius: 5px;
  background-color: #38b6c1;
  color: white;
}
#beautiful .box .imgbox {
  width: 120px;
  margin: 20px 0 10px;
}
#beautiful .box h4 {
  font-size: 20px;
}
@media screen and (max-width: 992px) {
  #beautiful .box {
    text-align: center;
    margin-left: 22px;
  }
  #beautiful .box h1 {
    font-size: 66px;
    margin: 0;
  }
  #beautiful .box h5 {
    font-size: 22px;
    margin-left: 35px;
  }
  #beautiful .box .btn {
    padding: 13px 30px;
    font-size: 30px;
    border-radius: 5px;
    margin-top: 7px;
  }
  #beautiful .box .minibox {
    display: flex;
    justify-content: center;
  }
  #beautiful .box h4 {
    margin-bottom: 90px;
  }
}
@media screen and (max-width: 768px) {
  #beautiful .box {
    margin-right: 23px;
  }
  #beautiful .box h1 {
    font-size: 78px;
  }
  #beautiful .box h5 {
    font-size: 25px;
    margin-right: 23px;
  }
}

#thehome {
  background-color: #f1f8f9;
}
#thehome .textbox h1 {
  color: #36b3bd;
  font-size: 60px;
  font-weight: 700;
  width: 400px;
}
#thehome .textbox h5 {
  color: #676f8b;
  font-size: 20px;
  margin: 25px 75px 50px 0;
  line-height: 1.3;
}
#thehome .textbox .btn {
  padding: 13px 30px;
  background-color: #38b6c1;
  color: white;
  font-size: 20px;
  border-radius: 5px;
}
#thehome .imgbox {
  width: 520px;
}
@media screen and (max-width: 992px) {
  #thehome .textbox {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  #thehome .textbox h1 {
    font-size: 66px;
  }
  #thehome .textbox h5 {
    font-size: 25px;
    margin-left: 33px;
  }
  #thehome .textbox .btn {
    margin-bottom: 47px;
    padding: 19px 38px;
    font-size: 26px;
  }
}

#works h1 {
  font-weight: 700;
  font-size: 60px;
  color: #36b3bd;
  margin-bottom: 60px;
}
#works .box .imgbox {
  width: 350px;
}
#works .box .textbox {
  padding: 35px 55px;
}
#works .box .textbox h2 {
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 9px;
}
#works .box .textbox h4 {
  font-size: 20px;
  color: #676f8b;
  line-height: 1.3;
}
@media screen and (max-width: 992px) {
  #works .box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #works .box .textbox h2 {
    font-size: 42px;
  }
  #works .box .textbox h4 {
    font-size: 27px;
  }
}

#browse .textbox {
  width: 500px;
  text-align: center;
}
#browse .textbox h1 {
  font-weight: 700;
  font-size: 60px;
  color: #3cc1d8;
}
#browse .textbox h4 {
  font-size: 20px;
  color: #6c7480;
  margin: 20px 0;
  line-height: 1.2;
}
#browse .textbox h4 span {
  color: #3cc1d8;
  text-decoration-line: underline;
}
#browse .btn {
  font-size: 18px;
  border: 0.5px solid #bdbdbd;
  padding: 15px 46px;
  margin: 0 20px;
  border-radius: 5px;
}
#browse .bgc {
  background-color: #3cc1d8;
  color: white;
}
#browse .box {
  padding: 30px;
}
#browse .box .imgbox {
  width: 150px;
  border-radius: 10px;
}
#browse .box .textbox {
  text-align: left;
  width: auto;
  margin-left: 20px;
}
#browse .box .textbox .minibox h2 {
  font-size: 22px;
  font-weight: 700;
}
#browse .box .textbox .minibox h5 {
  color: #3cc1d8;
  font-size: 18px;
}
#browse .box .textbox p {
  margin: 15px 0;
  font-size: 18px;
  line-height: 1.2;
  color: rgba(35, 47, 66, 0.5215686275);
}
#browse .box .textbox .add {
  display: flex;
}
#browse .box .textbox .add input {
  border: 1px solid #e1e1e1;
  background-color: #e9e9e9;
  width: 50px;
}
#browse .box .textbox .add .btn {
  background-color: #3cc1d8;
  color: white;
  padding: 7px 20px;
}
#browse .big {
  padding: 17px 53px;
  margin-top: 50px;
}
@media screen and (max-width: 992px) {
  #browse .box {
    padding: 25px 0;
  }
  #browse .box .imgbox {
    width: 130px;
  }
}
@media screen and (max-width: 576px) {
  #browse .direction {
    flex-direction: column;
  }
  #browse .btn {
    margin-top: 15px;
  }
  #browse .box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 25px 0;
  }
  #browse .box .textbox {
    padding: 20px 0;
  }
  #browse .box .textbox .minibox {
    flex-direction: column;
  }
  #browse .box .textbox .minibox h5 {
    margin-top: 22px;
  }
  #browse .box .imgbox {
    width: 400px;
  }
}

#order .imgbox {
  width: 600px;
}
#order .textbox h1 {
  font-size: 60px;
  font-weight: 700;
  color: #36b3bd;
}
#order .textbox h5 {
  color: #676f8b;
  font-size: 20px;
  margin: 25px 75px 50px 0;
  line-height: 1.3;
}
#order .textbox .btn {
  color: white;
  font-size: 20px;
  background-color: #38b6c1;
  padding: 13px 34px;
  border-radius: 5px;
}
@media screen and (max-width: 992px) {
  #order .imgbox {
    width: 650px;
  }
  #order .textbox {
    text-align: center;
  }
  #order .textbox h1 {
    margin: 0 55px;
    font-size: 65px;
  }
}
@media screen and (max-width: 768px) {
  #order .textbox .btn {
    padding: 20px 85px;
  }
  #order .textbox h5 {
    margin: 25px 0 55px;
  }
}

#callour {
  background-color: #f1f8f9;
}
#callour .textbox h1 {
  font-size: 65px;
  font-weight: 700;
  color: #36b3bd;
}
#callour .textbox h5 {
  color: #676f8b;
  font-size: 20px;
  margin: 25px 75px 50px 0;
  line-height: 1.3;
}
#callour .textbox .btn {
  font-size: 20px;
  color: white;
  background-color: #38b6c1;
  padding: 13px 34px;
}
#callour .imgbox {
  width: 520px;
}

#support .textbox h1 {
  font-size: 60px;
  font-weight: 700;
  color: white;
  margin: 0 70px 0 40px;
  line-height: 1.1;
}
#support .textbox span {
  color: rgba(36, 102, 115, 0.5137254902);
}
#support .textbox .btn {
  font-size: 22px;
  color: #38b6c1;
  background-color: white;
  padding: 10px 30px;
  margin: 30px 0 0 40px;
}
#support .bgc {
  background-color: #35b6c1;
}/*# sourceMappingURL=style.css.map */